:root {
  margin: 0px;
  padding: 0px;
  font-family: Poppins, "sans-serif";
}

.container {
  padding: 40px;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container-projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }

  .container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}